<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<title>Pinto</title>
</head>
<body>
<h1>Pinto</h1>
<ul>
<li><a href="<%== uri('signup_openid', 'lang' => @lang) %>"><%= _('Sign Up') %></a></li>
</ul>
</body>
</html>
