<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Pinto</title>
</head>
<body>
<h1><% unless @controller == 'index' %><a rel="start" href="<%== in_quote(uri('index')) %>"><% end %>Pinto<% unless @controller == 'index' %></a><% end %></h1>
<ul>
<% @languages.each do |lang| %>
<li><a rel="alternate" hreflang="<%== in_quote(lang['code']) %>" href="<%== in_quote(uri(@controller, @uri_map.merge('lang' => lang['code']))) %>"><%= lang['name'] %> version</a></li>
<% end %>
</ul>
</body>
</html>
