<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Pinto</title>
</head>
<body>
<h1><% unless @requested_controller_name == 'index' %><a rel="start" href="<%== attr(uri('index')) %>"><% end %>Pinto<% unless @requested_controller_name == 'index' %></a><% end %></h1>
<ul>
<%
@locales.each do |locale|
  uri_parameters = @uri_parameters
  uri_parameters['locale_code'] = locale.code
%>
<li><a rel="alternate" hreflang="<%== attr(locale.code) %>" href="<%== attr(uri(@requested_controller_name, uri_parameters)) %>"><%= _(locale.name) %> version</a></li>
<%
end
%>
</ul>
</body>
</html>
